In [ ]:
%matplotlib inline
!pip install geopandas
import pandas as pd
import geopandas

In [ ]:
provincie = geopandas.read_file('/content/drive/MyDrive/Colab Notebooks/Limiti01012021_g/ProvCM01012021_g')
provincie

     COD_RIP  ...                                           geometry
0          1  ...  POLYGON ((411015.006 5049970.983, 411266.039 5...
1          1  ...  POLYGON ((438328.612 5087208.215, 439028.888 5...
2          1  ...  POLYGON ((460929.542 5076320.298, 461165.259 5...
3          1  ...  MULTIPOLYGON (((378673.492 4958865.159, 378928...
4          1  ...  POLYGON ((425041.329 4997628.309, 424948.989 4...
..       ...  ...                                                ...
102        1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
103        1  ...  POLYGON ((519754.706 5065242.380, 520199.702 5...
104        3  ...  POLYGON ((884760.019 4804406.440, 885511.011 4...
105        4  ...  POLYGON ((1081237.144 4611047.023, 1081399.393...
106        5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...

[107 rows x 13 columns]

In [ ]:
regioni = geopandas.read_file('/content/drive/MyDrive/Colab Notebooks/Limiti01012021_g/Reg01012021_g')
regioni

    COD_RIP  ...                                           geometry
0         1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
1         1  ...  POLYGON ((390652.644 5091766.171, 390748.643 5...
2         1  ...  MULTIPOLYGON (((485536.366 4985444.605, 485366...
3         2  ...  POLYGON ((743267.749 5219765.793, 743387.812 5...
4         2  ...  POLYGON ((768123.960 5175397.497, 768135.210 5...
5         2  ...  MULTIPOLYGON (((872344.457 5061894.048, 872344...
6         1  ...  MULTIPOLYGON (((568226.691 4874823.573, 568219...
7         2  ...  MULTIPOLYGON (((618343.929 4893985.661, 618335...
8         3  ...  MULTIPOLYGON (((674426.642 4680710.364, 674563...
9         3  ...  MULTIPOLYGON (((776982.140 4832209.918, 776910...
10        3  ...  POLYGON ((802303.985 4874996.456, 802366.734 4...
11        3  ...  MULTIPOLYGON (((875952.995 4524692.050, 875769...
12        4  ...  MULTIPOLYGON (((930273.425 4714737.743, 930147...
13        4  ...  POLYGON ((984002.800 4670714.415, 985067.040 4...
14        4  ...  MULTIPOLYGON (((1037313.692 4449410.367, 10373...
15        4  ...  MULTIPOLYGON (((1280636.111 4454459.746, 12806...
16        4  ...  MULTIPOLYGON (((1073707.061 4445700.106, 10737...
17        4  ...  MULTIPOLYGON (((1083358.846 4416348.741, 10833...
18        5  ...  MULTIPOLYGON (((822886.611 3935355.889, 822871...
19        5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...

[20 rows x 6 columns]

In [ ]:
comuni = geopandas.read_file('/content/drive/MyDrive/Colab Notebooks/Limiti01012021_g/Com01012021_g')
comuni

      COD_RIP  ...                                           geometry
0           1  ...  POLYGON ((404703.558 5026682.655, 405359.554 5...
1           1  ...  POLYGON ((380700.909 4977305.520, 381105.998 4...
2           1  ...  POLYGON ((364710.857 5022090.678, 364737.794 5...
3           1  ...  POLYGON ((415942.504 5033304.609, 416079.315 5...
4           1  ...  POLYGON ((376934.962 4999073.854, 376960.555 4...
...       ...  ...                                                ...
7898        5  ...  MULTIPOLYGON (((556602.772 4375162.650, 556598...
7899        5  ...  POLYGON ((541186.146 4375105.653, 541180.146 4...
7900        5  ...  MULTIPOLYGON (((546451.098 4325900.553, 546443...
7901        5  ...  POLYGON ((500362.475 4361229.767, 500397.474 4...
7902        5  ...  POLYGON ((494131.525 4353208.832, 494847.519 4...

[7903 rows x 13 columns]

visualizzare il nome della provincia e il nome della regione

In [ ]:
pd.merge(provincie,regioni,how='inner',on='COD_REG')

     COD_RIP_x  ...                                         geometry_y
0            1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
1            1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
2            1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
3            1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
4            1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
..         ...  ...                                                ...
102          5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...
103          5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...
104          5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...
105          5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...
106          5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...

[107 rows x 18 columns]

visualizzare il comune e in quale regione si trova

In [ ]:
pd.merge(comuni,regioni,how='inner',on='COD_REG')

      COD_RIP_x  ...                                         geometry_y
0             1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
1             1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
2             1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
3             1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
4             1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
...         ...  ...                                                ...
7898          4  ...  MULTIPOLYGON (((1073707.061 4445700.106, 10737...
7899          4  ...  MULTIPOLYGON (((1073707.061 4445700.106, 10737...
7900          4  ...  MULTIPOLYGON (((1073707.061 4445700.106, 10737...
7901          4  ...  MULTIPOLYGON (((1073707.061 4445700.106, 10737...
7902          4  ...  MULTIPOLYGON (((1073707.061 4445700.106, 10737...

[7903 rows x 18 columns]

numero di comuni per ogni regione

In [ ]:
pd.merge(comuni,regioni,how='inner',on='COD_REG').groupby('DEN_REG')['COMUNE'].count().sort_values()

DEN_REG
Valle d'Aosta              74
Umbria                     92
Basilicata                131
Molise                    136
Friuli Venezia Giulia     215
Marche                    227
Liguria                   234
Puglia                    257
Toscana                   273
Trentino-Alto Adige       282
Abruzzo                   305
Emilia-Romagna            328
Sardegna                  377
Lazio                     378
Sicilia                   390
Calabria                  404
Campania                  550
Veneto                    563
Piemonte                 1181
Lombardia                1506
Name: COMUNE, dtype: int64

numero di comuni per ogni provincia

In [ ]:
pd.merge(comuni,provincie,how='inner',on='COD_PROV').groupby('DEN_UTS')['COMUNE'].count().sort_values()

DEN_UTS
Trieste                    6
Prato                      7
Barletta-Andria-Trani     10
Ragusa                    12
Massa Carrara             17
                        ...
Alessandria              187
Brescia                  205
Bergamo                  243
Cuneo                    247
Torino                   312
Name: COMUNE, Length: 107, dtype: int64

numero di provincie per ogni regione

In [ ]:
pd.merge(provincie,regioni,how='inner',on='COD_REG').groupby('DEN_REG')['DEN_UTS'].count().sort_values()

DEN_REG
Valle d'Aosta             1
Basilicata                2
Umbria                    2
Trentino-Alto Adige       2
Molise                    2
Abruzzo                   4
Friuli Venezia Giulia     4
Liguria                   4
Sardegna                  5
Marche                    5
Lazio                     5
Campania                  5
Calabria                  5
Puglia                    6
Veneto                    7
Piemonte                  8
Emilia-Romagna            9
Sicilia                   9
Toscana                  10
Lombardia                12
Name: DEN_UTS, dtype: int64